<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hwanik.materialtest" >

    <!-- 진동 권한 허용 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 로컬 카메라 앱 접근 허용 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 사진을 찍고 외부저장소에 저장하기 위한 권한 요청 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Facebook 연동하기 위한 인터넷, 네트워크 권한 요청 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="d2058d5659c1130efa8c22e5e0c1f837" />

        <activity
            android:name="com.example.hwanik.Yosee.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.example.hwanik.Yosee.SubActivity"
            android:label="@string/title_activity_sub" >

            <!-- 서브액티비티의 부모가 메인 액티비티라고 명시한다. -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hwanik.Yosee.MainActivity" />
        </activity>
        <activity
            android:name="com.example.hwanik.Yosee.Splash"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Facebook 앱 키를 등록록 -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="facebook_login" >
        </activity>
        <activity
            android:name="com.example.hwanik.Yosee.SignIn"
            android:label="@string/title_activity_sign_in" >
        </activity>
        <activity
            android:name="com.example.hwanik.Yosee.UploadPage"
            android:label="@string/title_activity_upload_page"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="nl.changer.polypicker.ImagePickerActivity"
            android:theme="@style/HoloTheme" />
        <activity
            android:name="com.example.hwanik.Yosee.Detail"
            android:label="@string/title_activity_detail" >
        </activity>
        <activity
            android:name="com.example.hwanik.Yosee.makeStep"
            android:label="@string/title_activity_make_step"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.hwanik.Yosee.CategoryDetail"
            android:label="@string/title_activity_category_detail" >
        </activity>
        <activity
            android:name="com.example.hwanik.Yosee.settingPage"
            android:label="@string/title_activity_setting_page" >
        </activity>
        <activity
            android:name="com.example.hwanik.Yosee.SignUp"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name="com.example.hwanik.Yosee.categoryDialog"
            android:label="@string/title_activity_category_dialog" >
        </activity>
        <activity
            android:name="com.example.hwanik.Yosee.Comment"
            android:label="@string/title_activity_comment" >
        </activity>
        <receiver
            android:name="com.example.hwanik.Yosee.Widget"
            android:label="Yosee">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
    </application>

</manifest>
